body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}



nav#TableOfContents li > ul {margin-left: 10px;}
nav#TableOfContents ul li {margin-top: .5em;margin-bottom: .5em;}

h1.chapter::before {content:"\2767";display:block;color:#dedede;font-size:1.5em;margin-top: 1.0em;}

h1.chapter, h1.chapter > a {color:#91191C;}

.wuhan-red {color:#91191C;}
.bg-wuhan-red {background-color:#91191C;}
.bg-wuhan-red-60 {background-color:#91191C99;}

.main-menu-list > li:last-child {
  background-color: yellow;
  color: black!important;
  padding: .4em!important;
}
.main-menu-list > li:last-child a {
  color: black!important;
}

article.blog-post > section > .paragraphs > .content > p {font-size: 1rem;margin-right: auto;margin-left: auto; max-width: 30em;line-height: 1.5}

@media screen and (min-width: 30em) {
  article.blog-post > section > .paragraphs > .content > p {
      font-size: 1.25rem;
  }
}

article.blog-post .pull {max-width: 20em;margin-right: auto;margin-left: auto;padding-left: 0;
    padding-right: 0; border-left:none; font-weight: 900;}

article.blog-post .f-headline-l {font-size: 10rem;}






.sticky-top-2 {
    position: sticky;
    top: 2rem;
    /* z-index: 1020; */
}

.lh-copy blockquote {
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

figcaption {padding: 1rem; background-color: white;}

figcaption p {font-size: 1rem;}

table {
  font-size: 1rem;
  margin: 3rem auto;
  border-spacing: 10px;
  border-collapse: collapse;
}

td, th {
  border: 2px solid #999;
  padding: 1rem;
  min-width: 5rem;
  text-align: left;
}
