body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

table {
  border-spacing: 10px;
}

nav#TableOfContents li > ul {margin-left: 10px;}
nav#TableOfContents ul li {margin-top: .5em;margin-bottom: .5em;}

h1.chapter::before {content:"\2767";display:block;color:#dedede;font-size:1.5em;margin-top: 1.0em;}

h1.chapter, h1.chapter > a {color:#91191C;}

.wuhan-red {color:#91191C;}
.bg-wuhan-red {background-color:#91191C;}
.bg-wuhan-red-60 {background-color:#91191C99;}

.main-menu-list > li:last-child {
  background-color: yellow;
  color: black!important;
  padding: .4em!important;
}
.main-menu-list > li:last-child a {
  color: black!important;
}
